*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
   
    background-color:rgb(5, 49, 49)
}
.calculator{
    height: 600px;
    width: 400px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

input{
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background:transparent;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}

button{
    border:none;
    border-radius:50%;
    width:60px;
    height:60px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.5);
    cursor : pointer;
}

.equals{
    
    border-radius: 30px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 24px;
    box-shadow: -8px -8px 15px rgba(255, 0, 0, 0.5);
}

.operator{
    background-color: rgb(32, 23, 7);
    box-shadow: -8px -8px 15px rgba(99, 80, 48, 0.5);
}